################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/PartyLock/v15/.suo
PartyLock.zip
PartyLock1.*.zip
PartyLock/*